div {
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    background: rgba(0,0,0,0);
    width: 25%;
}
#like {
    float: right;
}
#like button {
    display: block;
    width: 100%;
    padding: .4rem;
    border: none;
    margin: 1rem auto;
    font-size: 1.3rem;
    background: rgba(255,255,255,0.23);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: .3s background;
    transition: .3s background;
}
#like button:hover {
   background: rgba(0,0,0,0.5);
}
#dislike {
    float: left;
}
#dislike button {
  position: relative;
  display: inline-block;
  width: 10em;
  padding: top;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  font-size: 130%;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #F64C2B;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
  background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}
#dislike button:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}
