video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: no-repeat; background-size: cover;  -webkit-transition: 1s opacity; transition: 1s opacity; 
} 
div { 
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif; background: rgba(0,0,0,0); width: 33%; 
} 
#like {
    float: right; 
}
#like button { 
    display: block;
    width: 100%;
    padding: .4rem;
    border: none; 
    margin: 1rem auto; 
    font-size: 1.3rem;
    background: rgba(255,255,255,0.23);
    color: #fff;
    border-radius: 3px; 
    cursor: pointer;
    -webkit-transition: .3s background;
    transition: .3s background;
}
#like button:hover { 
    background: rgba(0,0,0,0.5);
}
#dislike {
    float: left; 
}
#dislike button { 
    display: block;
    width: 100%;
    padding: .4rem;
    border: none; 
    margin: 1rem auto; 
    font-size: 1.3rem;
    background: rgba(255,255,255,0.23);
    color: #fff;
    border-radius: 3px; 
    cursor: pointer;
    -webkit-transition: .3s background;
    transition: .3s background;
}
#dislike button:hover {
   background: rgba(0,0,0,0.5);
}
